<% if current_user %>
	Wow, you're logged-in @<%=current_user.twitter_name%>
<% else%>
	to login click <%=link_to "[ log in ]", "/session/new"%>
<% end%>
<br/><BR/>
<div id="quote">
Snatus is about one important aspect of our life.<br>
The places we go to & the people we meet there.
</div>
<div id="new_trail_wrapper">
<%= render :partial => "/trails/new", :locals =>{:trail=>@trail} %>
</div>
<%#=image_tag "/images/explain.png"%>
<%=hr "Hot Places"%>
<% @places.each do |place| %>
	<%= render :partial => "/places/show_small", :locals =>{:place=>place} %>
<% end %>

<script>
	// have the joined user follow twittrail
	<% if current_user && current_user.is_following==false%>
		$.get('/home/follow', function(data) {
		  window.status=data;
		});
	<% end %>
	
</script>
