<h1>Listing trails</h1>

<table>
  <tr>
    <th>Text</th>
    <th>When</th>
  </tr>

<% @trails.each do |trail| %>
  <tr>
    <td><%=h trail.text %></td>
    <td><%=h trail.when %></td>
    <td><%= link_to 'Show', trail %></td>
    <td><%= link_to 'Edit', edit_trail_path(trail) %></td>
    <td><%= link_to 'Destroy', trail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New trail', new_trail_path %>